.card {
  background-color: orangered;
  img {
    width: 100%;
  }
}

.intro {
  height: 150px;
  overflow: hidden;
  width: 150px;
  img {
    cursor: pointer;
    transition: width 2s;
    width: 150px;
  }
  img:hover{
    width: 200px;
  }
}